<section data-ng-controller="LoanersController">
  <div class="text-center">
  <a href="/#!/" class="btn btn-info" role="button">Home</a>
<h1>New Check-Out</h1>
  <form data-ng-submit="create()" novalidate>
    <div>
      <label for="model">Model</label>
      <div>
        <input type="text" data-ng-model="model" id="model" placeholder="Model" required>
      </div>
    </div>
    <div><br>
      <label for="modelType">Model Type</label>
      <div>
        <input type ="text" data-ng-model="modelType" id="modelType" placeholder="Model Type" required>
      </div>
    </div>
    <div><br>
      <input type="submit" class="btn btn-info" role="button">
    </div>
    <div data-ng-show="error">
      <strong data-ng-bind="error"></strong>
    </div>
  </form>
  </div>
</section>