<section data-ng-controller="LoanersController" data-ng-init="findOne()">
  <div class="text-center">
  <h1>Edit Check-Out</h1>
  <form data-ng-submit="update()" novalidate>
    <div>
      <label for="model">Model</label>
      <div>
        <input type="text" data-ng-model="loaner.model" id="model" placeholder="Model" required>
      </div>
    </div>
    <div><br>
      <label for="modelType">Model Type</label>
      <div>
        <input type="text" data-ng-model="loaner.modelType" id="modelType" placeholder="Model Type" required>
      </div>
    </div>
    <div><br>
      <input type="submit" class="btn btn-info" value="Update">
    </div><br>
    <a href="#!/loaners/{{loaner._id}}" class="btn btn-info" role="button">Back</a>
    <div data-ng-show="error">
      <strong data-ng-bind="error"></strong>
    </div>
  </form>
  </div>
</section>