<section data-ng-controller="LoanersController" data-ng-init="find()">
  <div class="text-center">
    <a href="/#!/" class="btn btn-primary btn-lg" role="button">Home</a>
    <a href="/#!/loaners/create" class="btn btn-primary btn-lg" role="button">Check-Out Item</a>
    <h1 style="color:#0059b3">Issued Equipment</h1>
  </div>
  <div class="container">
    <br>
      <table class="table table-bordered table-hover table-condensed">
        <thead>
          <tr bgcolor="#66c2ff">
            <th>Model:</th>
            <th>Issued To:</th>
          </tr>
        </thead>
        <tbody>
          <tr bgcolor="#FFFFFF" data-ng-repeat="loaner in loaners">
            <td><a data-ng-href="#!/loaners/{{loaner._id}}" data-ng-bind="loaner.model" class="btn btn-info btn-md"></a></td>
            <td><a data-ng-bind="loaner.creator.fullName"></a></td>
          </tr>
        </tbody>
      </table>
  </div>  
 
 <div class="text-center">   
 <div data-ng-hide="!loaners || loaners.length">
    <h2 style="color:#0059b3">No items checked out</h2> 
    <a href="/#!/loaners/create" class="btn btn-primary btn-lg" role="button">Check-Out Item Here</a>
  </div>
  </div>
  
</section>