<section data-ng-controller="LoanersController" data-ng-init="find()">
  <div class="text-center">
  <a href="/#!/" class="btn btn-info" role="button">Home</a>
  <a href="/#!/loaners/create" class="btn btn-info" role="button">Check-Out Item</a>
  <h1>Issued Equipment</h1>
  <br>

    <div data-ng-repeat="loaner in loaners">
      <a data-ng-href="#!/loaners/{{loaner._id}}" data-ng-bind="loaner.model" class="bg-info"></a>
      <small> - </small>
      <small data-ng-bind="loaner.modelType"></small>
      <br>
      <medium>Issued to </medium>
      <small data-ng-bind="loaner.creator.fullName"></small>
      <small> on </small>
      <small data-ng-bind="loaner.created | date:'medium'"></small>
      <br><br><br>
    </div>
  
  
 <div data-ng-hide="!loaners || loaners.length">
    No loaners yet, why don't you <a href="/#!/loaners/create" class="btn btn-info" role="button">create one</a>?
  </div>
  </div>
</section>