<section data-ng-controller="LoanersController" data-ng-init="findOne()">
  <div class="text-center">
  <a href="/#!/" class="btn btn-info" role="button">Home</a>
  <a href="/#!/loaners" class="btn btn-info" role="button">Back</a>
  <h1 data-ng-bind="loaner.model"></h1>
  <p data-ng-bind="loaner.modelType"></p>
  <small>
    <em>Issued on</em>
    <em data-ng-bind="loaner.created | date:'mediumDate'"></em>
    <em>to</em>
    <em data-ng-bind="loaner.creator.fullName"></em>
  </small>
  <br><br>
  <div data-ng-show="authentication.user._id == loaner.creator._id">
    <a href="/#!/loaners/{{loaner._id}}/edit" class="btn btn-info" role="button">Edit</a>
    <a href="#" data-ng-click="delete();" class="btn btn-danger" role="button">Delete</a>
  </div>
  <br>
  </div>
</section>