<section data-ng-controller="LoanersController" data-ng-init="findOne()">
  <a href="/#!/">Home</a>
  <h1 data-ng-bind="loaner.model"></h1>
  <p data-ng-bind="loaner.modelType"></p>
  <small>
    <em>Issued on</em>
    <em data-ng-bind="loaner.created | date:'mediumDate'"></em>
    <em>to</em>
    <em data-ng-bind="loaner.creator.fullName"></em>
  </small>
  <br><br>
  <div data-ng-show="authentication.user._id == loaner.creator._id">
    <a href="/#!/loaners/{{loaner._id}}/edit">Edit</a>
    <a href="#" data-ng-click="delete();">Delete</a>
    <a href="/#!/loaners">Back</a>
  </div>
  <br>
</section>