<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<html>
<head>
	<!-- Use the 'title' property to render a page title  -->
	<title><%= title %></title>
</head>
<body>
  	<!-- Display flash messages  -->
	<% for(var i in messages) { %>
	   <div class="flash"><%= messages[i] %></div>
	<% } %>
	
		<script type="text/javascript" src="/public/application.js"></script>
	 <link rel="stylesheet" href="/public/lib/bootstrap/dist/css/bootstrap.min.css">

	<!-- Render the signin form  -->
	<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  		<div class="modal-dialog">
		<div class="modal-content">
      		<div class="modal-header">
        		<h1 class="text-center">Admin Login</h1>
    		</div>
	      	<div class="modal-body">
				<form action="/adminssignin" method="post" class="form col-md-12 center-block">
					<div class="form-group">
						<input type="text" name="adminname" class="form-control input-lg" placeholder="Adminname"/>
					</div>
					<div class="form-group">
						<input type="password" class="form-control input-lg" name="adminpassword" placeholder="Admin Password"/>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-primary btn-lg btn-block" value="Sign In" />
					</div>
					<div class="text-center">
						<a href="/#!/" class="btn btn-info" role="button">Cancel</a>
					</div>
				</form>
			</div>
				<div class="modal-footer">
					<div class="col-md-12">
	     		</div>
    	</div>
  		</div>
	</div>
</body>
</html>